html {
    background-color: #eee;
}
ul{
	list-style-type: none;
}
.col-third {
	float: left;
	width: 33%;
}

.struck{
	text-decoration: line-through;
}

.red{
	color: red;
}

.blue{
	color: blue;
}

.gray{
	color: gray;
}

*{
	text-align: left;
}

.black{
	color: black;
}

.margined {
	margin: 10px 10px 10px 10px;
}

.trebucheted{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}