html {
    background-color: #eee;
}
ul{
	list-style-type: none;
}
.col-third {
	float: left;
	width: 33%;
}

.struck{
	text-decoration: line-through;
}

.title{
	font-size: 2em;
	margin: 10px 10px 10px 50px;
}

.red{
	color: red;
}

.blue{
	color: blue;
}

.gray{
	color: gray;
}

.black{
	color: black;
}

.element {
	margin: 10px 10px 10px 10px;
	font-size: 1.5em;
}

h2{
	font-size: 1em;
}

.trebucheted{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}